<div class="home">
  <h3>Bienvenu chez Democrakia</h3>
<p> Chez Demokratia, nous voulons donner du poid à l'avis des citoyens français</p>
<p>Chaque jour, une question : A vous de décider si vous êtes POUR, ou CONTRE</p>

<p>C'est parti!</p>
  <%= link_to raw("Commencer"), questions_path, class: "btn btn-primary", style:"border-radius: 20px"%>

</div>

